<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/Projects/IsItMalware/images/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cb6e2d0252.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <title>IsItMalware</title>
</head>

<body>
  <div id="navContainer">
    <div id="logoSelector">
      <i id="logoInspector" class="fa-solid fa-user-shield"></i>
      <h1 id="titleHeader">Is It Malware?</h1>

    </div>
    <div id="createdByContainer">
      <h6>by <span id="myName">Marlon</span></h6>
      <div id="findMe">
        <a href="" class="footerLogo" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/beem23?tab=repositories" class="footerLogo" target="_blank"><i
            class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>

  <div class="col-6 mx-auto mt-5 text-center">
    <h6>Analyse suspicious files <sup>(no larger than 32MB)</sup> and URLs to detect malware and other breaches,
      automatically share them with the security
      community.</h6>
    <p>This is all in thanks to the <a href="https://developers.virustotal.com/reference/overview">VirusTotal API</a>
    </p>
  </div>
  <!-- URL or File selection-->
  <div id="selectorContainer" class="d-flex justify-content-center mt-5">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnURL" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnURL">URL</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnFile" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnFile">File</label>
    </div>
  </div>
  <!-- URL -->
  <div id="url-container" class="col-lg-4 col-md-4 col-sm-6 mx-auto mt-5">
    <div class="input-group mb-3">
      <input id="url" type="text" class="form-control" placeholder="Enter URL here" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="urlButtonSubmit" onclick="addData()">Submit</button>
    </div>
    <div id="cardBody" class="card mx-auto mt-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" id=cardName></h5>
        <button type="button" class="btn btn-info mx-auto mt-3" id="seeMoreButton2">See More</button>
        <p class="card-text" id="cardInfo"></p>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-info" id="seeMoreButton">See More</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Harmless: <span id="harmless"></span></li>
        <li class="list-group-item">Malicious: <span id="malicious"></span></li>
        <li class="list-group-item">Suspicious: <span id="suspicious"></span></li>
        <li class="list-group-item">Undetected: <span id="undetected"></span></li>
      </ul>
    </div>
  </div>
  <!-- FILE -->
  <div id="fileContainer" class="col-6 mx-auto mt-5 text-center">
    <div class="mx-auto" id="dropzone">
      <p class="mb-0" id="dropFilesBox">Click to browse/ Drop your files here</p>
      <input type="file" id="fileInput" class="mx-auto col-12 form-control-file btn btn-outline-secondary" multiple>
    </div>

    <h6 class="mt-5">Please wait at least 10 seconds after an upload</h6>

    <div id="fileCardBody" class="card mx-auto mt-5 mb-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" id=fileCardName></h5>
        <button type="button" class="btn btn-info mx-auto mt-3" id="fileSeeMoreButton2">See More</button>
        <p class="card-text" id="fileCardInfo"></p>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-info" id="fileSeeMoreButton">See More</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Harmless: <span id="fileHarmless"></span></li>
        <li class="list-group-item">Malicious: <span id="fileMalicious"></span></li>
        <li class="list-group-item">Suspicious: <span id="fileSuspicious"></span></li>
        <li class="list-group-item">Undetected: <span id="fileUndetected"></span></li>
      </ul>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script>
    const key = '<%= key %>'
    //if name is clicked
    const myName = document.getElementById('myName');
    const findMe = document.getElementById('findMe');

    myName.addEventListener('click', nameClicked);

    function nameClicked() {
      if (findMe.style.display == "block") {
        findMe.style.display = "none";
      } else {
        findMe.style.display = "block";
      }
    }
    // URL OR FILE BUTTON CLICKED
    const urlChecked = document.getElementById('btnURL');
    const urlDiv = document.getElementById('url-container');
    const fileChecked = document.getElementById('btnFile');
    const fileDiv = document.getElementById('fileContainer');
    let responseData;
    urlChecked.addEventListener('click', checkFunc);
    fileChecked.addEventListener('click', checkFunc);
    function checkFunc() {
      if (urlChecked.checked == false) {
        fileDiv.style.display = "block";
        urlDiv.style.display = "none";
      } else {
        fileDiv.style.display = "none"
        urlDiv.style.display = "block";
      }
    }

    // FILE API GET/POST REQUESTS
    const dropzone = document.getElementById('dropzone');
    const fileInput = document.getElementById('fileInput');

    dropzone.addEventListener('click', () => {
      fileInput.click();
    });

    // Add drag and drop listeners
    dropzone.addEventListener('dragenter', highlight);
    dropzone.addEventListener('dragover', highlight);
    dropzone.addEventListener('dragleave', unhighlight);
    dropzone.addEventListener('drop', unhighlight);
    dropzone.addEventListener('drop', handleDrop);

    // File input listener
    fileInput.addEventListener('change', handleFileInput);

    function highlight(e) {
      dropzone.classList.add('highlight');

      e.preventDefault();
      e.stopPropagation();
    }

    function unhighlight(e) {
      dropzone.classList.remove('highlight');

      e.preventDefault();
      e.stopPropagation();
    }

    function handleDrop(e) {
      const dt = e.dataTransfer;
      const files = dt.files;

      handleFiles(files);

      e.preventDefault();
      e.stopPropagation();
    }

    function handleFileInput(e) {
      const files = e.target.files;

      handleFiles(files);
    }

    function handleFiles(files) {
      getAnalysisID(files)
    }

    //-----------------------
    // let report;
    // function getAnalysisReport(resData) {
    //   const options = {
    //     method: 'GET',
    //     headers: {
    //       accept: 'application/json',
    //       'x-apikey': key
    //     }
    //   };

    //   fetch(`https://www.virustotal.com/api/v3/analyses/${resData.data.id}`, options)
    //     .then(response => response.json())
    //     .then(response => {
    //       getFileReport(response.meta.file_info.sha256)
    //     })
    //     .catch(err => console.error(err));
    // }

    function getAnalysisID(fileInput) {


      const file = new File(fileInput, fileInput.name, fileInput.type);
      // const file = new File(["/Users/marlonbellot/Desktop/MUTUAL NCND 2022 Ocala.pdf"], "MUTUAL NCND 2022 Ocala.pdf", {
      //   type: "application/pdf"
      // });

      const formData = new FormData();
      formData.append("file", file);


      fetch('http://localhost:3000/upload', {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(responseText => {
          report = JSON.parse(responseText);
          console.log('received report from proxy', report)//getAnalysisReport(report);
          fileCardActivate(report)
        })
        .catch(error => console.error('Error:', error));

    }
    // function getAnalysisID(fileInput) {
    //   const url = "https://www.virustotal.com/api/v3/files";

    //   const file = new File(fileInput, fileInput.name, fileInput.type);
    //   // const file = new File(["/Users/marlonbellot/Desktop/MUTUAL NCND 2022 Ocala.pdf"], "MUTUAL NCND 2022 Ocala.pdf", {
    //   //   type: "application/pdf"
    //   // });

    //   const formData = new FormData();
    //   formData.append("file", file);

    //   const headers = {
    //     accept: "application/json",
    //     "x-apikey": key
    //   };

    //   fetch(url, {
    //     method: "POST",
    //     body: formData,
    //     headers: headers
    //   })
    //     .then(response => response.text())
    //     .then(responseText => {
    //       report = JSON.parse(responseText);
    //       getAnalysisReport(report);
    //     })


    // }

    // function getFileReport(response) {
    //   const options = {
    //     method: 'GET',
    //     headers: {
    //       accept: 'application/json',
    //       'x-apikey': key
    //     }
    //   };

    //   fetch(`https://www.virustotal.com/api/v3/files/${response}`, options)
    //     .then(response => response.json())
    //     .then(response => {
    //       fileCardActivate(response);
    //     })
    //     .catch(err => console.error(err));
    // }

    function fileCardActivate(response) {
      const card = document.getElementById('fileCardBody');
      const cardName = document.getElementById('fileCardName');
      const harmless = document.getElementById('fileHarmless');
      const malicious = document.getElementById('fileMalicious');
      const suspicious = document.getElementById('fileSuspicious');
      const undetected = document.getElementById('fileUndetected');
      // Make changes to the card
      cardName.innerText = JSON.stringify(fileInput.files[0].name).replace(/"/g, "");
      harmless.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.harmless)
      malicious.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.malicious)
      suspicious.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.suspicious)
      undetected.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.undetected)
      // Activate the card
      card.style.display = "block";

      const fileResponseData = response.data.attributes.last_analysis_results;

      // fileCardInfo.innerText = JSON.stringify(fileResponseData.Bkav);
      for (let prop in fileResponseData) {
        let innerHTML = `<br><h4 class="propSpan">${prop}:</h4>`;
        let innerObj = fileResponseData[prop];
        for (let innerProp in innerObj) {
          innerHTML += `<br> <em>${innerProp}</em>: ${innerObj[innerProp]}<br>`;
        }
        fileCardInfo.innerHTML += innerHTML;
      }

    }



    const fileCardInfo = document.getElementById('fileCardInfo');
    const fileSeeMoreButton = document.getElementById('fileSeeMoreButton');
    const fileSeeMoreButton2 = document.getElementById('fileSeeMoreButton2');
    fileSeeMoreButton.addEventListener('click', fileInfoButton)
    fileSeeMoreButton2.addEventListener('click', fileInfoButton)

    function fileInfoButton() {
      if (fileCardInfo.style.display == "") {
        fileSeeMoreButton.innerText = "See Less";
        fileSeeMoreButton2.innerText = "See Less";
        fileSeeMoreButton2.style.display = "block";
        fileCardInfo.style.display = "block";
      } else {
        fileCardInfo.style.display = "";
        fileSeeMoreButton.innerText = "See More";
        fileSeeMoreButton2.innerText = "See More";
        fileSeeMoreButton2.style.display = "none";
      }
    }



    // URL API GET REQUESTS
    // const addData = async () => {
    //   const originalURL = document.getElementById("url").value;

    //   const encodedURL = btoa(originalURL).replace(/=/g, "").replace(/\+/g, "-").replace(/\//g, "_");
    //   await getData(encodedURL);

    // };

    // const urlANAL = {
    //   method: 'GET',
    //   headers: {
    //     accept: 'application/json',
    //     'x-apikey': key
    //   }
    // };

    // const getData = async (eURL) => {
    //   fetch(`https://www.virustotal.com/api/v3/urls/${eURL}`, urlANAL)
    //     .then(response => response.json())
    //     .then(response => dataText(response))
    //     .catch(err => console.error(err));
    // };
    const addData = async () => {
      const originalURL = document.getElementById("url").value;

      const encodedURL = btoa(originalURL).replace(/=/g, "").replace(/\+/g, "-").replace(/\//g, "_");
      await getData(encodedURL);
    };

    // const urlANAL = {
    //   method: 'GET',
    //   headers: {
    //     accept: 'application/json',
    //     'x-apikey': key
    //   }
    // };

    const getData = async (eURL) => {
      const proxyUrl = `http://localhost:3000/?eURL=${eURL}`;

      fetch(proxyUrl)
        .then(response => response.json())
        .then(response => dataText(response))
        .catch(err => console.error(err));
    };


    function dataText(response) {
      console.log('inside dataText function')
      console.log(response)
      responseData = response.data.attributes.last_analysis_results;
      resData = JSON.stringify(responseData).replace(/\"/g, '').slice(1, -1).split(',');

      for (let prop in responseData) {
        let innerHTML = `<br><h4 class="propSpan">${prop}:</h4>`;
        let innerObj = responseData[prop];
        for (let innerProp in innerObj) {
          innerHTML += `<br> <em>${innerProp}</em>: ${innerObj[innerProp]}<br>`;
        }
        cardInfo.innerHTML += innerHTML;
      }

      // cardInfo.innerText = JSON.stringify(responseData).replace(/\"/g, '').slice(1, -1)
      const card = document.getElementById('cardBody');
      const cardName = document.getElementById('cardName');
      const harmless = document.getElementById('harmless');
      const malicious = document.getElementById('malicious');
      const suspicious = document.getElementById('suspicious');
      const undetected = document.getElementById('undetected');
      // Make changes to the card
      cardName.innerText = JSON.stringify(response.data.attributes.title).replace(/\"/g, '');
      harmless.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.harmless)
      malicious.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.malicious)
      suspicious.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.suspicious)
      undetected.innerText = JSON.stringify(response.data.attributes.last_analysis_stats.undetected)
      // Activate the card
      card.style.display = "block";
      // Testing
      // const h1 = document.getElementById('testh1');
      // h1.innerText = JSON.stringify(response.data.attributes.last_analysis_stats);
    }
    const cardInfo = document.getElementById('cardInfo');
    const seeMoreButton = document.getElementById('seeMoreButton');
    const seeMoreButton2 = document.getElementById('seeMoreButton2');
    seeMoreButton.addEventListener('click', infoButton)
    seeMoreButton2.addEventListener('click', infoButton)
    // cardInfo.innerText = JSON.stringify(responseData);

    function infoButton() {
      if (cardInfo.style.display == "") {
        seeMoreButton.innerText = "See Less";
        seeMoreButton2.innerText = "See Less";
        seeMoreButton2.style.display = "block";
        cardInfo.style.display = "block";
      } else {
        cardInfo.style.display = "";
        seeMoreButton2.style.display = "";
        seeMoreButton.innerText = "See More";
        seeMoreButton2.innerText = "See More";
      }
    }

  </script>
</body>

</html>